<div class="container">
  <div class="side-bar-placeholder"></div>
  <div class="side-bar">
    <div class="side-bar-placeholder"></div>

    <div class="event_name">SLACA 2019</div>
    <img src="../assets/img/dewey_4.png" alt="logo" />
    <ul class="navigation">
      <li *ngFor="let item of navigation">
        <span *ngIf="item.active" class="block"></span>
        <a href="{{ item.link }}" class="{{ item.active ? 'active' : '' }}">{{
          item.value
        }}</a>
      </li>
    </ul>
  </div>
  <div class="main">
    <header class="header">
      <div class="header-title">
        <span
          >Anais do Simpósio Latino Americano de Ciências de Alimentos
        </span>
        <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h1>
        <span>ISSN: 1234-5678</span>
      </div>
      <div class="header-language-user">
        <div class="header-language">
          <div class="selector">
            <img src="../assets/img/language_image.png" alt="language_image" />
            <select name="language" id="language">
              <option value="pt_br">PT, BR</option>
              <option value="pt_br">EN, US</option>
              <option value="pt_br">ES, ES</option>
            </select>
          </div>
        </div>
        <div class="header-user">
          <div class="header-user__welcome">
            Bem Vindo!<br />
            <span>{{ user[0].email }}</span>
          </div>
          <div class="avatar">
            <span class="avatar__notification">2</span>
            <img class="avatar__img" src="{{ user[0].avatar }}" />
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="content-title">
        <h2>
          Análise sensorial de preparações funcionais desenvolvidas para
          escolares entre 09 e 15 anos, do município de Campinas/SP
        </h2>
        <div class="content-right">
          <div class="content-right__buttons">
            <img
              src="../assets/img/download_button.png"
              alt="download_button"
              width="120"
              height="31"
            />
            <img
              src="../assets/img/favorite_button.png"
              alt="favorite_button"
              width="43"
              height="31"
            />
            <img
              src="../assets/img/doi_button.png"
              alt="doi_button"
              width="43"
              height="31"
            />
          </div>
          <div>
            <a href="">COMO CITAR ESSE TRABALHO?</a>
          </div>
        </div>
      </div>
      <div class="content-highlight">
        <div class="content-video">
          <img src="../assets/img/video.png" alt="video" />
        </div>
        <div class="content-details">
          <div class="content-details__title">Detalhes</div>
          <div class="content-details__scroll">
            <span class="content-details__span"
              >Tipo de Apresentação: <b>{{ info[0].type }}</b></span
            ><br />
            <span class="content-details__span"
              >Eixo temático: <b>{{ info[0].axis }}</b></span
            ><br />
            <span class="content-details__span"
              >Palavras-chaves: <b>{{ info[0].keyword }}</b></span
            ><br />
            <br />
            <span class="content-details__author"><b>Autores:</b></span
            ><br />
            <span
              class="content-details__author"
              *ngFor="let author of info[0].author"
              >{{ author }}<br /></span
            ><br />
            <span
              class="content-details__school"
              *ngFor="let school of info[0].school"
              >{{ school }}<br
            /></span>
          </div>
        </div>
      </div>
      <!-- principal 3 - Resumo -->
      <div class="resume">
        <div class="resume header">Resumo</div>
        <div class="resume-holder">
          <span *ngIf="!showResume">{{ shortResume }}</span>
          <span
            (click)="showResume = !showResume"
            *ngIf="!showResume"
            class="btn-show-more"
          >
            ver mais
          </span>
          <div *ngIf="showResume">
            <p *ngFor="let txt of resume">
              {{ txt }}
            </p>
          </div>
        </div>
      </div>

      <div class="forum">
        <div class="forum__header">Discussões</div>
        <div class="forum-main" *ngIf="!newTopic">
          <span class="forum-title"
            >Compartilhe suas ideias ou dúvidas com os autores!</span
          >
          <div class="forum-main__img">
            <img src="../assets/img/icone1.png" alt="icone 1" />
            <img src="../assets/img/icone2.png" alt="icone 2" />
            <img src="../assets/img/icone3.png" alt="icone 3" />
          </div>
          <div>
            <span class="forum-span"
              >Sabia que o maior estímulo no desenvolvimento científico e
              cultural é a curiosidade? Deixe seus questionamentos ou sugestões
              para o autor!</span
            >
          </div>
          <div class="btn-create">
            <button
              (click)="newAndSendClick()"
              class="btn-create-topic"
            >
              <img src="../assets/img/icon_new.png" />criar tópico
            </button>
            <div class="divider"></div>
          </div>
        </div>
        <div class="new-topic" *ngIf="sendTopic">
          <span
            >Tem uma dúvida ou sugestão? Compartilhe seu feedback com os
            autores!</span
          >
          <form>
            Assunto
            <input
              class="subject"
              placeholder="Defina um tópico sucinto para notificar os autores..."
            />
            Conteúdo
            <textarea></textarea>
            <div class="bar">
              <button
                (click)="topicAndSendClick()"
                class="form-botton"
                type="button"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
        <div class="forum-main" *ngIf="topicSend">
          <span class="forum-title"
            >Seu tópico foi enviado com sucesso! :D</span
          >
          <span class="forum-span"
            >Agradecemos por sua contribuição, uma notificação será enviada ao
            seu email assim que seu tópico for respondido!</span
          >
          <a href="#">Descubra outros trabalhos!</a>
          <div class="btn-create">
            <button
              (click)="newAndTopicClick()"
              class="btn-create-topic"
            >
              criar novo tópico
            </button>
            <div class="divider"></div>
          </div>
          <div class="waitFeedback">
            <div class="waitFeedback answered-topic">
              <div class="ops-topic-subject">
                <h3>Assunto da pergunta aparece aqui</h3>
                <h6>Carlos Henrique Santos</h6>
              </div>
              <div class="answered-topic__comment">
                Comecinho da pergunta aparece aqui resente relato inscreve-se no
                campo da análise da dimensão e impacto de processo formativo
                situado impacto de processo formativo processo...
              </div>
              <div class="waitingFeedback">
                <img src="../assets/img/check.png" alt="check" />
                <h3>Aguardando feedback dos autores</h3>
                <a href="#">Editar tópico</a>
              </div>
            </div>
          </div>
        </div>

        <div class="answered-topic" (click)="comments = !comments">
          <div class="ops-topic-subject">
            <h3>Assunto da pergunta aparece aqui</h3>
            <h6>Carlos Henrique Santos</h6>
          </div>
          <div class="answered-topic__comment">
            Comecinho da pergunta aparece aqui resente relato inscreve-se no
            campo da análise da dimensão e impacto de processo formativo situado
            impacto de processo formativo processo...
          </div>
          <div class="answered-topic__actionBar">
            <img
              src="../assets/img/more_info.png"
              alt="Mais Informações"
              height="18px"
            />
            <img src="../assets/img/favoritar.png" alt="Favoritar" />
            <span>4 like</span>
            <span class="cursor">4 resposta</span>
          </div>
        </div>
        <div *ngIf="comments">
          <div class="comments-container gray">
            <div class="comments-container__comment">
              <h6>Adriano da Silva</h6>
              <div class="comments-title">
                <h5>Autor</h5>
                <img src="../assets/img/check_orange.png" alt="check_orange" />
              </div>
            </div>
            <span
              >Resposta do autor é aqui. Relato inscreve-se no campo da análise
              da dimensão e impacto de processo formativo situado impacto de
              processo formativo processo resente relato inscreve-se no campo da
              análise da dimensão e impacto de processo formativo situado
              impacto de processo formativo processo.</span
            >
          </div>
          <div class="comments-container white">
            <div class="comments-container__comment">
              <h6>Carlos Henrique Santos</h6>
            </div>
            <span
              >Consegui entender melhor agora! Parece que a variação da análise
              da dimensão e impacto de processo formativo situado impacto de
              processo formativo. Obrigada pela resposta, muito interessante o
              seu trabalho!
            </span>
          </div>
          <div class="comments-container gray">
            <div class="comments-container__comment">
              <h6>Carmila Ferreira Andrade</h6>
              <div class="comments-title">
                <h5>Coautor</h5>
                <img src="../assets/img/check_orange.png" alt="check_orange" />
              </div>
            </div>
            <span>
              Também ínteressante lembrar que o relato inscreve-se no campo da
              análise da dimensão e impacto de processo formativo situado
              impacto de processo formativo processo resente relato inscreve-se
              no campo da análise da dimensão e impacto de processo formativo
              situado impacto de processo formativo processo. Situado impacto de
              processo formativo processo resente relato inscreve-se no campo da
              análise da dimensão e impacto de processo formativo situado
              impacto de processo formativo processo.
            </span>
          </div>
          <div class="comments-container gray">
            <div class="comments-container__comment">
              <h6>Ana Carolina</h6>
              <div class="comments-title">
                <h5>Coautor</h5>
                <img src="../assets/img/check_orange.png" alt="check_orange" />
              </div>
            </div>
            <span>
              Resposta do autor é aqui. Relato inscreve-se no campo da análise
              da dimensão e impacto de processo formativo situado impacto de
              processo formativo processo resente relato inscreve-se no campo da
              análise da dimensão e impacto de processo formativo situado
              impacto de processo formativo processo.
            </span>
          </div>
        </div>
      </div>

      <footer>
        <img src="../assets/img/imagem_footer.png" alt="imagem_footer" />
      </footer>
    </div>
  </div>
</div>
